header {
    .tipbar {
        padding: 3px 0;
    }

    form {
        @include flex(wrap, center, center, 0);
        width: 100%;
        position: relative;
        height: 40px;
        background: $grey;
        border-radius: 10px;
        input {
            width: 100%;
            height: 100%;
            display: block;
            padding: 0 64px 0 24px;
            margin: 0;
            border: none;
            background: transparent;
            color: $black;
            &::placeholder {
                @include font(12px, 18px);
                font-weight: 400;
                color: $black;
            }
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            height: 40px;
        }
    }
    
    .topo {
        box-shadow: $box-shadow;
        .container {
            @include flex(wrap, center, space-between, 93px);
            .features {
                @include flex(wrap, center, flex-start, 34px);
                padding: 21px 0;
                div {
                    &.minha-conta {
                        @include flex(wrap, center, flex-start, 8px);
                        a {
                            &:hover {
                                background: $grey;
                            }
                        }
                    }
                    &.cart {
                        a {
                            &:hover {
                                background: $primary;
                                color: $white;
                                svg {
                                    path {
                                        fill: $white;
                                    }
                                }
                            }
                        }
                    }
                    a {
                        @include flex(wrap, center, flex-start, 8px);
                        padding: 12px 14px 13px 17px;
                        border-radius: 8px;
                    }
                }
                p {
                    @include font(14px, 21px);
                    font-weight: 400;
                }
            }

            .logo {
                padding: 35px 0;
            }

            .form {
                padding: 24px 0;
                margin-right: 35px;
                flex-grow: 1;
            }
        }
    }

    nav {
        ul {
            @include flex(wrap, center, center, 15px);
            a {
                @include font(14px, 21px);
                @include flex(nowrap, center, center, 8px);
                min-width: 146px;
                padding: 10px 0;
                &:hover {
                    background: $grey;
                }
            }
        }
    }
}

@media (max-width: 1425px) {
    header {
        .topo {
            .container {
                gap: 40px;
                .form {
                    margin-right: 0;
                }
            }
        }
        nav {
            ul {
                a {
                    min-width: 115px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    header {
        .topo {
            .container {
                gap: 15px;
                .logo {
                    flex-grow: 1;
                }
                .form {
                    flex-grow: 0;
                    margin-right: 16px;
                    form {
                        display: none;
                    }
                    .icon-form {
                        display: flex;
                    }
                }
                .features {
                    div {
                        &.minha-conta {
                            display: none;
                        }
                        a {
                            border: none;
                            padding: 0;
                            svg {
                                width: 32px;
                                height: 32px;
                                path {
                                    fill: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        nav {
            overflow: hidden;
            height: auto;
            max-height: 0;
            transition: .3s;
            &.active {
                max-height: 400px;
            }
            ul {
                display: block;
                padding: 16px 0;
                a {
                    justify-content: flex-start;
                }
            }
        }
    }
}
